{% extends "layout.html" %}

{% block content %}
    <form id="formProducto" class="mt-4">

        <div class="form-group col-md-3" style="margin-left: 20px;">
            <label>Nombre del producto</label>
            <input type="text" class="form-control" id="nombre" required>
        </div>

        <div class="form-group col-md-3" style="margin-left: 20px;">
            <label>Precio</label>
            <input type="number" class="form-control" id="precio" required>
        </div>

        <div class="form-group col-md-3" style="margin-left: 20px;">
            <label>Stock</label>
            <input type="number" class="form-control" id="stock" required>
        </div>
        <div class="form-group col-md-3" style="margin-left: 20px;">
            <label>Codigo</label>
            <input type="text" class="form-control" id="codigo" required>
        </div>

        <button type="submit" class="btn btn-success" style=" margin-left: 25px;">Guardar Producto</button>

    </form>

    <!-- TABLA -->
    <div class="container mt-3">

    <h3 class="text-center">Lista de Productos</h3>
<div class="d-flex justify-content-end">
    <div class="col-md-8">
        <table class="table table-bordered">
        </table>
    </div>
</div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody id="tablaProductos"></tbody>
            </table>

        </div>
    </div>

</div>
</div>

<script>

// 📌 Base de datos simulada
let productos = [];

// 📌 Guardar producto
document.getElementById("formProducto").addEventListener("submit", function(e){

    e.preventDefault(); // evita recargar la página

    let nombre = document.getElementById("nombre").value;
    let precio = document.getElementById("precio").value;
    let stock = document.getElementById("stock").value;
    let codigo = document.getElementById("codigo").value;

    let nuevoProducto = {
        id: productos.length + 1,
        nombre: nombre,
        precio: precio,
        stock: stock,
        codigo: document.getElementById("codigo").value
    };

    productos.push(nuevoProducto);

    mostrarProductos();

    // limpiar formulario
    document.getElementById("formProducto").reset();
});


// 📌 Mostrar productos
function mostrarProductos(){

    let tabla = document.getElementById("tablaProductos");
    tabla.innerHTML = "";

    productos.forEach(producto => {

        let fila = `
            <tr>
                <td>${producto.id}</td>
                <td>${producto.nombre}</td>
                <td>${producto.precio}</td>
                <td>${producto.stock}</td>
                <td>${producto.codigo}</td>
            </tr>
        `;

        tabla.innerHTML += fila;

    });
}

</script>

{% endblock content %}